body{
    background-color: bisque;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#p1, #h1{
    text-align: left;
}

#p2, #h2{
    text-align: right;
}

#h1, #h2, #h3{
    color: rgb(148, 6, 6);
}

ul{
    color: rgb(184, 89, 21);
}



