.contain{
    width: 350px;
    height: auto;
    margin: 10% 10%;
    background-color: azure;
    padding: 50px;
}
body{
    background-color: rgb(107, 154, 154);
    width: 50cm;
    height: 50cm;
}
.form-group{
    display: flex;
    padding: 5px;
}

label{
    flex: 1;
}

h4{
    text-align: center;
}
